@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* variables */
:root {
    --backgroundColor-main :hsl(216, 12%, 8%) ;
    --backgroundColor:hsl(213, 19%, 18%);
    --titleColor:hsl(0, 0%, 100%);
    --ParagraphColor:hsl(217, 12%, 63%);
    --submitColor: hsl(25, 97%, 53%);
}
/* background settings */
* {
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}
body{
    height:100vh;
}
.background {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    background-color: var(--backgroundColor-main);
    position:relative;
}

.container{
    background-color: var( --backgroundColor);
    width:30%;
    height:68%;
    border-radius:16px;
    padding:2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position:relative;
    z-index:2;
}

/* content */
.icon{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: rgb(255,255,255,0.05);
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
/* text styling */
.title{
    display: inline-block;
    text-align: center;
    color : var(--titleColor);
    margin-top: 3rem;

}
.desc{
    font-size:1.5rem;
    line-height: 2.4rem;
    color:var(--ParagraphColor)
}

/* ratings */
input {
    display: none;
}
form{
    display: flex;
   justify-content: center;
   align-items:flex-start; 
   gap:1.3rem;
   position: relative;
   height:30%;
   margin-top:5rem;
}
.ratings{
    display: inline-block;
    width:calc(78% / 5);
   border-radius:50% ;
   background-color: rgb(255,255,255,0.05);
   display: flex;
   justify-content: center;
   align-items:center; 
   color:var(--ParagraphColor);
    transition:.3s ease-in;
    font-size: 1.3rem;
}
.ratings:hover{
    background-color: var(--submitColor);
    color:var(--titleColor)
}
.active{
    background-color: rgba(255, 255, 255, 0.449);
    color: var(--titleColor);
}

#submit{
    position:absolute;
    bottom:0;
    width:100%;
    height:3rem;
    background-color: var(--submitColor);
    border:0;
    color:var(--titleColor);
    border-radius: 18px;
    display: block;
    transition:.01s;
}
#submit:hover {
    transform: scale(1.05);
}
/* footer */

.attribution{
    position:absolute;
    bottom:1rem;
}

/* thank you message */

.container2{
    background-color: var( --backgroundColor);
    width:30%;
    height:68%;
    border-radius:16px;
    padding:2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}
.illustration{
    width:100%;
    text-align: center;
}

.title2{
    display: inline-block;
    text-align: center;
    color : var(--titleColor);
    margin-top: 3rem;
    width:100%;
    font-size: 2.5rem;
}
.desc2{
    font-size:1.8rem;
    line-height: 2.8rem;
    color:var(--ParagraphColor);
    text-align:center;
}
.outOf{
    width:50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items:center; 
    margin-top: 2rem;
    background-color:rgba(255, 255, 255, 0.1) ;
    border-radius: 16px;
    height:3rem;
    font-size: 1.2rem;
}
.conclusion{
    color:var(--submitColor);
}
.attribution{
    color:var(--titleColor)
}
a{
    text-decoration: none;
    color:var(--submitColor)
}
@media screen and (max-width:1600px){
    .container{
        width:35%;
    }
    .container2{
        width:35%;
    }
}
@media screen and (max-width:1400px){
    .container{
        width:40%;
    }
    .container2{
        width:40%;
    }
    .outOf{
        width:60%;
    }
}
@media screen and (max-width:1250px){
    .container{
        width:45%;
    }
    .container2{
        width:45%;
    }
}
@media screen and (max-width:1100px){
    .container{
        width:50%;
    }
    .container2{
        width:50%;
    }
}
@media screen and (max-width:1000px){
    .container{
        width:60%;
    }
    .container2{
        width:60%;
    }
}
@media screen and (max-width:800px){
    .container{
        width:70%;
    }
    .container2{
        width:70%;
    }
    .outOf{
        width:70%;
    }
}
@media screen and (max-width:600px){
    .container{
        width:85%;
    }
    .container2{
        width:85%;
    }
    .outOf{
        width:80%;
    }
}
@media screen and (max-width:400px){
    .container{
        width:95%;
    }
    .container2{
        width:95%;
    }
    .outOf{
        width:90%;
    }
}